---
layout: default
title: Christian Kirkham
---

<!-- Full-bleed header section -->
<section class="grid-container home-header">
	<div>
		<!-- Avatar -->
		<div class="avatar"></div>
		<!-- Title -->
		<header id="title">
			<a href="/"><h1>{{ page.title }}</h1></a>
			<h4>Interaction Designer</h4>
		</header>
		<!-- Nav -->
		<nav id="main" role="navigation">
			<ul>
				<li class="active"><a href="/" title="Home">Home</a></li>
		        <li><a href="blog.html" title="Blog">Blog</a></li>
			    <li><a href="work.html" title="Projects">Projects</a></li>
				<li><a href="http://feeds.feedburner.com/ckirkham" title="RSS feed">RSS</a></li>
			</ul>
		</nav>
	</div>
	<!-- Background Canvas animation using PaperScript -->
	<canvas id="ballAnimation" resize="true" keepalive="true" width="100%"></canvas>
</section>

<!-- Content -->
<section class="grid-container">
	<!-- Short about section -->
	<section id="about" class="grid-6">
		<h2>A bit about me</h2>
		<p>London based interaction designer &amp; creative technologist, focusing on human interaction around digital. I currently work at <a href="http://www.albion.co">Albion</a>, where I user test, design UI’s, code front-end environments and energise motion graphics.</p>
		<p>Check out some of my other work on <a href="http://www.dribbble.com/ckirkham">Dribbble</a> and <a href="http://ckirkham.prosite.com/">Bēhance</a> or follow me on <a href="http://www.twitter.com/Chris_Kirkham">Twitter</a>.</p>
		<p><span class="icon-checkmark-circle"></span>I'm available for freelance work depending on my schedule. Just <a href="mailto:im@ckirkham.com">contact me</a> and we can sort something out!</p>
	</section>

	<!-- Recent Blog Posts -->
	<section class="grid-3">
		<h2>Recent bloggings:</h2>
		<ul class="list">
		{% for post in site.posts limit:5 %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</section>

	<section class="grid-1"></section>

	<!-- Recent Project Pages -->
	<section class="grid-2">
		<h2>Recent projects:</h2>
		<ul class="list">
		{% for project in site.projects limit: 5%}
			<li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
		{% endfor %}
		</ul>
	</section>
</section>