<nav role="main" id="nav" class="active">
	<ul id="uppernav">
		<li><a id="link-home" href="{{ root }}/index.html">Christian Kirkham</a></li>
		<!-- <li><a id="link-blog" href="{{ root }}/blog.html" title="Journal">Journal</a></li> -->
	    <li><a id="link-projects" class="anchor" href="{{ root }}/index.html#projects" title="Projects">Projects</a></li>
	    <li><a id="link-medium" href="https://medium.com/@ckirkham" title="Journalism">Journal</a></li>
	    <li><a id="link-photography" href="https://goo.gl/photos/Qy4Fy9LT129wKiRi6" title="Photography">Photography</a></li>
	</ul>
</nav>

<ul id="mobile-nav">
	<li><a id="link-home" href="{{ root }}/index.html">Christian Kirkham</a></li>
	<li><a class="toggle-nav" href="#">Menu</a></li>
</ul>