<nav role="main" id="nav" class="active">
	<div class="outer-container">
		<a id="link-home" href="{{ root }}/index.html">Christian Kirkham</a>
		<ul id="uppernav">
		    <li><a id="link-projects" class="anchor" href="{{ root }}/index.html#projects" title="Projects">Projects</a></li>
		    <li><a id="link-medium" href="https://medium.com/@ckirkham" title="Journalism" target="_blank">Journal</a></li>
		    <li><a id="link-photography" href="https://goo.gl/photos/Qy4Fy9LT129wKiRi6" title="Photography" target="_blank">Photography</a></li>
		</ul>
		<a class="toggle-nav" href="#">Menu</a>
	</div>
</nav>